@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
	height: 100vh;
	margin: 0;
	display: flex;
	justify-content: center;
	background-color: greenyellow;
	font-family: 'Roboto Mono', monospace;
	font-style: normal;
	letter-spacing: 1px;
}
h1 {
	position: absolute;
	top: 15%;
	text-align: center;
	color: darkgreen;
}

.form {
	position: absolute;
	top: 30%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	width: 600px;
	background-color: yellow;
	border-radius: 10px;
}

.input {
	width: 100%;
	box-sizing: border-box;
	padding: 20px;
	border-radius: 10px 10px 0 0;
	border: none;
	font-size: 20px;
	letter-spacing: 2px;
}

.input::placeholder {
	color: lightgray;
}

.list {
	padding: 0;
	margin: 0;
}

.list li {
	list-style-type: none;
	padding: 20px;
	padding-left: 40px;
	font-weight: 500;
	border-top: dotted;
	border-color: darkgray;
	position: relative;
}

.list li .fa-trash {
	color: red;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}
.list li .fa-check-square {
	color: green;
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

.list li .fa-pen {
	color: blue;
	position: absolute;
	right: 50px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

.list li.checked {
	color: darkgray;
	text-decoration: line-through;
}

.list li.checked .fa-check-square {
	color: darkgray;
}

@media (max-width: 600px) {
	.form {
		width: 400px;
	}

	h1 {
		top: 17%;
		font-size: 30px;
	}
}
@media (max-width: 400px) {
	.form {
		width: 300px;
	}
}
